<div class="app-content">
	<div>
		<img class="full-image" src="https://lh3.googleusercontent.com/U5jev5wjC7Py_CILiINJn-GuxnmVPq-mRXRob-7BWMUHffdgfD1bCEhJlKq3du61PHZUNMcf=s630-fcrop64=1,317c16f5d15dccb8" alt="GDG MALAGA Logo">
	</div>
	<div>
		<img class="full-image" src="https://pbs.twimg.com/media/CtMsR0fWIAAVNmx.jpg" alt="Grupo GDG Spain">
	</div>
	<div>
		<img class="full-image" src="http://www.diariosur.es/noticias/201602/17/media/94665802.jpg" alt="imagen periodico sur hashcode">
	</div>
</div>