.full-image{
  width: 100%;
  background-size: cover;
  max-width: 1024px;
}

.md-img{
    width: 50%;
    max-width: 400px;
    min-width: 150px;
    background-size: cover;
}

.app-content{
    text-align: center;
}

@media screen and (max-width: 480px) {
  h1.text-responsive{
    font-size: 22px;
  }
}

@media screen and (max-width: 320px) {
  h1.text-responsive{
    font-size: 18px;
  }
}