.full-image{
  width: 100%;
  background-size: cover;
  max-width: 1024px;
}

.app-content{
    text-align: center;
}

@media screen and (max-width: 480px) {
  h1.text-responsive{
    font-size: 22px;
  }
}

@media screen and (max-width: 320px) {
  h1.text-responsive{
    font-size: 18px;
  }
}